@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
	.wrapper {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
	}
	.transform-image {
		transform: translate(-50%, -50%);
	}
	.hero {
		background-image: url(./src/images/evecandle-heroimage.jpg);
	}
	.roboto-400 {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-style: normal;
	}
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.link-top::before {
	content: "";
	opacity: 0;
	width: 0;
	height: 0;
	border-top-width: 2px;
	border-left-width: 2px;
	border-color: #4f6f52;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s;
}
.link-top::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	width: 0;
	height: 0;
	border-color: #4f6f52;
	border-bottom-width: 2px;
	border-right-width: 2px;
	transition: all 0.3s;
}
.link-top:hover::before {
	width: 50%;
	height: 50%;
	opacity: 100;
}
.link-top:hover::after {
	width: 50%;
	height: 50%;
	opacity: 100;
}
