@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Namdhinggo&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
	.wrapper {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
	}
	.transform-image {
		transform: translate(-50%, -50%);
	}
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.link-top::before {
	content: "";
	opacity: 0;
	width: 0;
	height: 0;
	border-top-width: 2px;
	border-left-width: 2px;
	border-color: #F9DDD2;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s;
}
.link-top::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	width: 0;
	height: 0;
	border-color: #F9DDD2;
	border-bottom-width: 2px;
	border-right-width: 2px;
	transition: all 0.3s;
}
.link-top:hover::before {
	width: 50%;
	height: 50%;
	opacity: 100;
}
.link-top:hover::after {
	width: 50%;
	height: 50%;
	opacity: 100;
}
.active {
	transform: translateX(0);
}
.active-scroll::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 100;
	width: 50%;
	height: 50%;
	border-color: #F9DDD2;
	border-bottom-width: 2px;
	border-right-width: 2px;
	transition: all 0.3s;
}
.active-scroll::before {
	content: "";
	opacity: 100;
	width: 50%;
	height: 50%;
	border-top-width: 2px;
	border-left-width: 2px;
	border-color: #F9DDD2;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s;
}
.active-scroll {
	color: #4f6f52;
}
.cta::before {
	content: "";
	opacity: 100;
	width: 50%;
	height: 50%;
	border-top-width: 2px;
	border-right-width: 2px;
	border-color: #F9DDD2;
	position: absolute;
	top: 0;
	right: 0;
	transition: all 0.3s;
}
.cta::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 100;
	width: 50%;
	height: 50%;
	border-color: #F9DDD2;
	border-bottom-width: 2px;
	border-left-width: 2px;
	transition: all 0.3s;
}
.mobile-nav::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 100;
	border-bottom-width: 1px;
	border-color: black;
}